#### Strings Methods and Functions
#### Concatenation of Strings

### string.upper(): Converts the string into upper-case

In [1]:
book_name = "Discovery of India"
book_name

'Discovery of India'

In [2]:
print(book_name.upper())

DISCOVERY OF INDIA

In [3]:
print(book_name) # book_name remains unchanged

Discovery of India

In [4]:
caps_book_name = book_name.upper() # Assigning the book_name is upper-case to␣ a new variable caps_book_name
print(caps_book_name)
print(book_name)

DISCOVERY OF INDIA
Discovery of India

In [6]:
book_name = book_name.upper() # Changing the variable book_name to upper-case by reassignment

print(book_name)

DISCOVERY OF INDIA

### string.lower(): Converts a string into lower case

In [7]:
book_name = "Discovery of India"
book_name

'Discovery of India'

In [8]:
print(book_name.lower())

discovery of india

In [9]:
 print(book_name) # book_name remains unchanged

Discovery of India

In [10]:
low_book_name = book_name.lower() # Assigning the book_name is lower-case to a␣ new variable low_book_name
print(low_book_name)
print(book_name)

discovery of india
Discovery of India

In [ ]:
# Changing the variable book_name to lower-case by reassignment
book_name = book_name.upper()
print(book_name)

### string.replace(value1, value2): Returns a string where value1 is replaced with value2

In [14]:
book_name = "The Killing Floor"
book_name.replace("i","@")

'The K@ll@ng Floor'

In [15]:
book_name.replace("o","@")

'The Killing Fl@@r'

In [16]:
# replacing more than one character in a string
lines = "python is easy . python is general purpose"
lines.replace("python","java")

'java is easy . java is general purpose'

In [17]:
print(lines) # lines remains unchanged

python is easy . python is general purpose

In [23]:
lines = lines.replace("python","java")
print(liens)

java is easy . java is general purpose

In [24]:
print(lines)

java is easy . java is general purpose

### string.count(value): Returns the number of times a specified value occurs in a string

In [26]:
# .count()
district = "Nainital"
print(district.count("i")) # Counts the number of times 'i' occurs in the  string "Nainital"

2

In [27]:
haldwani_info = "Haldwani is called the Gateway to Kumaon. Haldwani is a global␣ AI & Robotics Hub. "
haldwani_info.count("Haldwani")

2

In [28]:
haldwani_info.count("is")

2

In [29]:
haldwani_info.count("a")

10

In [30]:
haldwani_info.count("Uttarakhand")

0

###  string.endswith(value): Returns true if the string ends with the specified value

In [31]:
# .endswith()
x = "Hello World"
x.endswith("World")

True

In [32]:
x.endswith("d")

True

In [33]:
x.endswith("t")

False

In [34]:
x.endswith("world")

False

### string.startswith(value) : Returns true if the string starts with the specified value

 ### string.split(separator): Used to divide a string into a list of substrings based on a specified separator.

In [37]:
# .split()
x = "HelloWorld"
x.split("W")

['Hello', 'orld']

In [38]:
x.split("o")

['Hell', 'W', 'rld']

In [39]:
x.split("rl")

['HelloWo', 'd']

#### string.find(character)
##### Finds the index at which character occurs for the first time

In [40]:
 # .find() - Index at which 'o' occurs for the first time
x = "Hello world"
x.find("o")

4

In [41]:
x.find("wo")

6

In [42]:
# What if I try to find a character which is not present in the stirng??
x.find("y")

-1

In [43]:
x.find("bye")

-1

 #### len(string)
##### Counts the number of characters in the string

In [47]:
 # len() - Counts the no of characters in the string
x="hello world"
print(x)
x= "l"
len(x)

hello world

1

In [48]:
len(" python")

7

In [49]:
x="hii","priya"
print(x)

('hii', 'priya')

In [50]:
print(len(x))

2

###  Concatenation: Joining two or more strings to form a single string

In [51]:
"hello" + "world"

'helloworld'

In [52]:
"Python" + " is " + " easy"

'Python is  easy'

In [56]:
a = "Python"
b = " is"
c = " "
d= "easy"
e = a+b+c+d
print(e)

Python is easy