# variable?
a variable is a container that stores data in the memory of your computer

you can store any data type in a variable

syntax
variable_name=data_to_be_stored

<font size="5"> what is variable?<br>
<font size="3">a variable is a container that stores data in the memory of your computer.<br>
<font size="3">syntax -<br>
<b>variable_name= data_to_be_stored

In [1]:
print("neeraj is in pyhton class")
print("ayush is in ml batch")
print("nishi is in python batch")
print("suraj is in ml batch")
print("himanshu is in python batch")
print("suhail is in ml batch")
print("akhilesh is in python batch")
print("ishi is in ml batch")

neeraj is in pyhton class
ayush is in ml batch
nishi is in python batch
suraj is in ml batch
himanshu is in python batch
suhail is in ml batch
akhilesh is in python batch
ishi is in ml batch

In [2]:
print("neeraj ,himanshu ,akhilesh and nishi are in python batch")
print("ayush, suhail, ishi and suraj are in ml batch")

neeraj ,himanshu ,akhilesh and nishi are in python batch
ayush, suhail, ishi and suraj are in ml batch

In [5]:
std1="neeraj"
std2="ayush"
std3="nishi"
std4="suraj"
std5="himanshu"
std6=" suhail"
std7="akhilesh"
std8="ishi"

batch1="python batch"
batch2="ml batch"

In [6]:
print(std1,"is in",batch1)
print(std2,"is in",batch2)
print(std3,"is in",batch1)
print(std4,"is in",batch2)

neeraj is in python batch
ayush is in ml batch
nishi is in python batch
suraj is in ml batch

## float datatype

In [18]:
height= 175.5
weight= 75.23
print("height is",height,"cm","\nweight is",weight,"kg")

height is 175.5 cm
weight is 75.23 kg

In [39]:
height= 175.5 
weight= 75.23 

print("height is",height,"\nweight is",weight)

height is 175.5
weight is 75.23

In the following cell syntax error is coming because a valid datatype is not being stored in the variables height and weight.

In [48]:
height= "175.5 cm"
weight= "75.23 kg"

print("height is",height,"\nweight is",weight)

height is 175.5 cm
weight is 75.23 kg

In [47]:
bmi= (height/100)/(weight**2)
print("BMI is",bmi)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [43]:
print(height)
print(weight)

175.5
75.23

In [49]:
"175.5"/100   #invalid

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [50]:
175.5/100

1.755

In [51]:
print(type(height)) #type is used to check the datatype

<class 'str'>

In [4]:
height= 175
weight= 50

print("height is",height,"\nweight is",weight)

height is 175
weight is 50

In [5]:
bmi= (height/100)/(weight**2)
print("BMI is",bmi)

BMI is 0.0007

In [1]:
height=175
print(type(height))

<class 'int'>

In [2]:
height=float(175)
print(type(height))

<class 'float'>

In [3]:
print(height)

175.0

In [4]:
height=175.0
print(type(height))

<class 'float'>

In [5]:
print(height)

175.0

## typecasting

In [7]:
height=189
print(type(height))

<class 'int'>

In [8]:
#int-> float
height= float(height)
print(type(height))
print(height)

<class 'float'>
189.0

In [9]:
height=189
print(type(height))

<class 'int'>

In [11]:
height= str(height)
print(type(height))
print(height)

<class 'str'>
189

In [14]:
height="height"
print(type(height))
print(height)

<class 'str'>
height

In [16]:
greeting= "hello"
print(greeting)

hello

In [17]:
greeting= int(greeting)
print(greeting)

ValueError: invalid literal for int() with base 10: 'hello'

In [18]:
greeting ="123"
greeting= int(greeting)
print(type(greeting))
print(greeting)

<class 'int'>
123

In [23]:
1std= "suhel"

SyntaxError: invalid decimal literal (2271419998.py, line 1)

In [24]:
std@1="suhel"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3883279921.py, line 1)

In [25]:
std_1= "suhel"

In [26]:
STD2="pankaj"

In [27]:
std?3="neeraj"

SyntaxError: invalid syntax (3475946115.py, line 1)

## RULES FOR NAMES OF VARIABLES

 - <font size=3> a variable name must start with an alphabet or an underscore.
 - <font size=3>a variable name cannot start with a number or any special character(@,#,$,%)
 - <font size=3>a variable name can only contain alphabets,numbers,and underscore.
 - <font size=3>the use of special character is prohibited.
 - <font size=3>variable names are case sensitive in python.
 - <font size=3>python keyword cannot be used as variable names.

In [28]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [29]:
False=23

SyntaxError: cannot assign to False (3435775298.py, line 1)

In [30]:
def=34

SyntaxError: invalid syntax (3666322054.py, line 1)

In [31]:
class= "hi"

SyntaxError: invalid syntax (2967558149.py, line 1)

In [1]:
subject="maths"
print(Subject)

NameError: name 'Subject' is not defined

In [2]:
print(SUBJECT)

NameError: name 'SUBJECT' is not defined

In [3]:
print(subject)

maths

# important topics related to variables

### 1. storing an expression in a variable

In [24]:
animal_1= "c"+"a"+"t"            #"c"+"a"+"t" is an expression
print(animal_1)

cat

In [25]:
animal_2= "dog"
print(animal_2)

dog

In [26]:
combined_dog= animal_1+animal_2  #animal_1+animal_2 is an expression
print(combined_dog)

catdog

In [9]:
new_variable= 12+34              #12+13 is an expression
print(new_variable)

46

In [15]:
x= new_variable-45
print(x)

1

In [19]:
x= new_variable/45
print(x)

1.0222222222222221

In [18]:
height =175.2
weight= 78
bmi= weight/((height/100)**2)
print(bmi)

25.41127165822231

### 2.storing one variable to another

In [23]:
x= 56
y= x
print(y)

56

In [21]:
print(x)

56

In [27]:
var_x= 12
var_z = var_y = var_x 

print(var_x)
print(var_y)
print(var_z)

12
12
12

## 3.multiple variable creation

In [28]:
stu_1 = "ishi"
stu_2= "sneha"
stu_3= "sejal"
print(stu_1)
print(stu_2)
print(stu_3)

ishi
sneha
sejal

In [31]:
print(stu_1)
print(stu_2)
print(stu_3)

ishi
sneha
sejal

In [33]:
emp1_name,emp1_age,emp1_address = "ashish","24","rudrapur"
print(emp1_name)
print(emp1_age)
print(emp1_address)

ashish
24
rudrapur

In [2]:
updated_age=25
emp1_age= updated_age
print(updated_age)

25

In [3]:
print(emp1_age)

25

In [4]:
print("stu_1"+"stu_2"+"stu_3")

stu_1stu_2stu_3

In [1]:
name,age,height= "rohit",25,165.5
print(name,age,height)

rohit 25 165.5

In [28]:
empl1_name,empl2_name,empl3_name = "ashish","vaibhav","vedansh"
print(empl1_name)
print(empl2_name)
print(empl3_name)

ashish
vaibhav
vedansh

In [30]:
xyz= empl1_name+empl2_name+empl3_name
print(xyz)

ashishvaibhavvedansh

In [35]:
empl4_name,empl5_name,empl6_name,xlk = "anu123","vaibhav@123","vedansh/4",24+12
print(empl4_name)
print(empl5_name)
print(empl6_name)
print(xlk)

anu123
vaibhav@123
vedansh/4
36

In [77]:
_1customer_name,_2customer_name,_3customer_name="abhinav","kashish","tammana"
_1customer_age,_2customer_age,_3customer_age="\t23","\t34","\t45"
_1customer_address,_2customer_address,_3customer_address="\t19,divya apartment,batra colony rudrapur","\tkaushalaya enclave,rudrapur","\tgali no.1,adarsh nagar,sonipat"
print(_1customer_name, _1customer_age, _1customer_address)
print(_2customer_name, _2customer_age, _2customer_address)
print(_3customer_name, _3customer_age, _3customer_address)

abhinav 	23 	19,divya apartment,batra colony rudrapur
kashish 	34 	kaushalaya enclave,rudrapur
tammana 	45 	gali no.1,adarsh nagar,sonipat

In [1]:

print("hello")

hello

In [2]:
print=("std_1"+"std_2"+"std_3")

In [3]:
print("hii")

TypeError: 'str' object is not callable

-we cannot create any variable with functon name or any keyword.but
beacause if we created a variable with function name then that fun will not work anymore

### 4.reassigning a variable

In [1]:
user1_age =20
print(user1_age)

20

In [2]:
user1_age=45
print(user1_age)

45

In [3]:
user1_age= "forty five"
print(user1_age)

forty five

In [4]:
user1_age =20
print(user1_age)

20

### 5.constant variables

To define a variable whose value we do not want to change in the whole program,we write the name of variable in capital letters.this is a common practice but not enforced by python.

In [5]:
PI=3.14 #constant
print(PI)

3.14

it is still possible to change the value of this constant variable.

In [6]:
PI=1.28
print(PI)

1.28

### 6.deleting variable

In [1]:
x= 10
print(x)

10

In [2]:
del x

In [3]:
print(x)

NameError: name 'x' is not defined

In [4]:
x= 10
y="amit"
z= 23.99
print(x)
print(y)
print(z)

10
amit
23.99

In [5]:
del x,z

In [6]:
print(x)

NameError: name 'x' is not defined

In [7]:
print(z)

NameError: name 'z' is not defined

In [8]:
print(y)

amit

In [9]:
x=10
y=20
z=x+y
print(z)

30

In [10]:
del x

In [11]:
print(x)

NameError: name 'x' is not defined

In [15]:
print(z) #z is independence of x and y . its existence is not dependent  on the existence of  x and y once z has been created.

30

### exercise

In [22]:
# write a program to swap the values of two variables var_1 and var_2
var_1= 23
var_2= 94 
print(var_1)
print(var_2)

23
94

In [19]:
#var_1=94
#var_2=23
#print(var_1)
#print(var_2)

In [33]:
var_3 = var_1
var_1 = var_2
var_2 = var_3
print(var_1)

94

In [30]:
print(var_2)

23

In [31]:
print(var_1)
print(var_2)

94
23

In [1]:
var_5=23
var_6=93
print(var_5)
print(var_6)

23
93

In [2]:
var_5,var_6=var_6,var_5
print(var_5)
print(var_6)

93
23

In [12]:
is_raining= "true"

In [6]:
weather_temp= 25

In [7]:
city_name="delhi"

In [14]:
x= True

In [15]:
True="hello world"

SyntaxError: cannot assign to True (2249180451.py, line 1)

In [18]:
is_raining= True

In [20]:
True_x= "hello world"

In [21]:
for_12= 123

In [23]:
_ = 12
print(_)

12

In [24]:
x= 10
y= 20
x= y
y= 30
print(x,y)

20 30

In [6]:
x= 10
y= 20
print(x,y)

10 20

In [9]:
x= y
y= 30
print(x,y)

30 30

In [15]:
x=100
y=200
print(x,y)

100 200

In [17]:
y=x/2
x=y/2
print(x,y)

6.25 12.5